<p id="notice"><%= notice %></p>

<p>
  <strong>Input url:</strong>
  <%= @og_previewer.input_url %>
</p>

<p>
  <strong>Og image url:</strong>
  <%= @og_previewer.og_image_url %>
</p>

<p>
  <strong>Status:</strong>
  <%= @og_previewer.status %>
</p>

<%= link_to 'Back', og_previewers_path %>
